<h2>Search Games</h2>
<form action="/games" method="GET">
    <div>
        <label>Title</label>
        <input type="text" name="title" placeholder="Name" value="<%= searchOptions.title %>">
    </div>

    <div>
        <label>Released After</label>
        <input type="date" name="releasedAfter" value="<%= searchOptions.releasedAfter %>">
    </div>

    <div>
        <label>Released Before</label>
        <input type="date" name="releasedBefore" value="<%= searchOptions.releasedBefore %>">
    </div>

    <button type="submit">Search</button>
</form>

<br/>

<div>
    <% games.forEach(game => { %>
        <a href="/games/<%= game.id %>">
            <img height="100" width="150" src="<%= game.imagePath %>">
        </a>
    <% }); %>
</div>

