<h2 class="page-header"><%= game.title %></h2>
<img width="150" height="100" src="<%= game.imagePath %>">
<div>
    <% if (game.author !== null && game.author !== undefined){ %>
        Author: <%= game.author.name %>
    <% } else { %>
        Author: Unknown
    <% } %>
</div>
<div>
    Released: <%= game.releaseDate.toDateString() %>
</div>
<div>
    Price: <%= game.price %>
</div>
<div>
    Description: <%= game.description %>
</div>

<a class="btn btn-primary" href="/games/<%= game.id %>/edit">Edit</a>

<%- include('../partials/deleteForm', { url: '/games/' + game.id }) %>

<a href="/authors/<%= game.author.id %>">View Author</a>

