<h2 class="page-header"><%= author.name %></h2>

<a href="/authors/<%= author.id %>/edit">Edit</a>
<%- include('../partials/deleteForm.ejs', { url: '/authors/' + author.id }) %>

<% if (gamesbyAuthor.length > 0) { %>
    <h3>Games</h3>
    <% gamesbyAuthor.forEach(game => { %>
        <a href="/games/<%= game.id %>">
            <img height="100" width="150" src="<%= game.imagePath %>">
        </a>
    <% }); %>
<% } else { %>
    <div>No games found</div>
<% } %>
